<ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

        <ion-slide>
            <div class="slide">
                <img src="../../assets/img/slide-1.png" />
                <h2>Welcome</h2>
                <p>The <b>PyyR app</b> is a swift way to make transactions without hassles .</p>
            </div>
        </ion-slide>

        <ion-slide>
            <img src="../../assets/img/slide-2.png" />
            <h2>What is PyyR?</h2>
            <p><b>PyyR</b> uses smart technology to initiate wallet to wallet funds transfers, wallet to account transfers within seconds.</p>
        </ion-slide>

        <ion-slide>
            <img src="../../assets/img/slide-3.png" />
            <h2>What is PyyrQR?</h2>
            <p><b>PyyrQR</b> is a powerful and end to end encrypted way to initiate close range transactions without sharing sensitive bank information.</p>
        </ion-slide>

        <ion-slide>
            <img src="../../assets/img/slide-4.png" />
            <h2>Ready to Pay?</h2>
            <ion-button fill="clear" routerLink='register'>Continue
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-slide>

    </ion-slides>
</ion-content>