<ion-header>
    <ion-toolbar color="dark">
        <ion-title slot="start" style="text-transform: none; color:white;"><small>Welcome {{logged_user.lastName}} </small></ion-title>
        <ion-buttons style="text-align: right; display: block;" slot="end">

            <ion-avatar>
                <img src="../../assets/img/pyyr_logo.png">
            </ion-avatar>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content class="background" [fullscreen]="true">
    <ion-row>
        <ion-col size="4" class="laptopscreen">
            <div style="text-align: center;">
                <ion-avatar style="margin:15px auto;">
                    <img src="../../assets/img/pyyr_background2.PNG">
                </ion-avatar>
                <ion-title [innerHtml]="logged_user.fullname | uppercase"></ion-title>
            </div>
            <div style="text-align: center;">
                <ion-chip color="tertiary">
                    <ion-icon name="qr-code-outline" color="primary"></ion-icon>
                    <ion-label color="dark">wallet pay</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-icon name="cash-outline" color="tertiary"></ion-icon>
                    <ion-label color="dark">Other Bills</ion-label>
                </ion-chip>
            </div>
            <ion-list>
                <ion-list-header>
                </ion-list-header>
                <ion-item button (click)="openLink('/home')">
                    <ion-icon slot="end" name="grid-outline" color="medium"></ion-icon>
                    <ion-label color="medium">Dashboard</ion-label>
                </ion-item>

                <ion-item button (click)="openLink('/home/payments')">
                    <ion-icon slot="end" name="cash-outline" color="medium"></ion-icon>
                    <ion-label color="medium">Payments</ion-label>
                </ion-item>

                <ion-item button (click)="openLink('/home/account')">
                    <ion-icon slot="end" name="person-outline" color="medium"></ion-icon>
                    <ion-label color="medium">Account</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col>
            <ion-card class="ion-card">
                <ion-card-header>
                    <ion-card-subtitle style="color: rgb(185, 170, 190);">Wallet Balance</ion-card-subtitle>
                    <ion-card-title style="color: white;"><b>&#8358; <span [innerHTML]="logged_user.walletbalance"></span></b></ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <div>
                        <ion-button shape="round" size="small" style="color:rgb(253, 168, 253); text-transform: none;" fill="outline" (click)="presentAlertPrompt()">
                            Top-Up
                        </ion-button>
                    </div>
                </ion-card-content>
            </ion-card>


            <div style="text-align: center;" class='mediascreen'>
                <ion-chip color="tertiary">
                    <ion-icon name="qr-code-outline" color="primary"></ion-icon>
                    <ion-label color="dark">wallet pay</ion-label>
                </ion-chip>
                <ion-chip color="danger">
                    <ion-icon name="cash-outline" color="tertiary"></ion-icon>
                    <ion-label color="dark">Other Bills</ion-label>
                </ion-chip>
            </div>

            <ion-card style="width: 97%; margin: auto;">
                <ion-list-header lines="inset" style="color: #4d5057;">
                    <ion-label style="font-size:small;">Recent Actions</ion-label>
                    <ion-button (click)="moreActivity();"><small style="text-transform: none;">see more</small></ion-button>
                </ion-list-header>
                <ion-item *ngFor="let recent of txnHistory | slice:0:4; let i=index">
                    <ion-icon *ngIf="recent.desc=='wallet topup'" name="card-outline"></ion-icon>
                    <ion-icon *ngIf="recent.desc!='wallet topup'" name="wallet-outline"></ion-icon>&nbsp; &nbsp;
                    <ion-label size="small" class="ion-text-wrap">
                        <small style="text-transform: capitalize;" [innerHtml]="recent.desc"></small>
                    </ion-label>
                    <small *ngIf="recent.credit=='0'" class="error">&#8358; <span [innerHTML]="recent.amount"></span></small>
                    <small *ngIf="recent.debit=='0'" class="success">&#8358; <span [innerHTML]="recent.amount"></span></small>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>





</ion-content>